.hero {
    padding: 25px 40px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: var(--text);
    margin-bottom: 20px;
}

.hero h1 {
    font-size: 30px;
    font-family: var(--secondary-font);
    font-weight: 700;
}

.hero p {
    font-size: 16px;
    font-family: var(--font-text);
    font-weight: 500;
    margin-bottom: 20px;
}

.hero-form {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.hero-form input {
    flex: 1;
    padding: 15px;
    border: 2px solid var(--primary-color);
    border-radius: 5px 0 0 5px;
    font-size: 16px;
}

.hero-form button {
    padding: 15px 25px;
    border: none;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
}

.hero-form button:hover {
    background-color: var(--secondary-color);
}
